.custom-dropdown-button {
    background: none;
    border: none;
    padding: 0;
    outline: none;
    box-shadow: none;
}
.custom-dropdown-button:hover{
    background: none;
}
.custom-dropdown-button .dropdown-toggle[aria-expanded="true"] .icon {
    color: grey; /* Change to the desired color */
}
.dropdown-item:hover{
   background-color:grey;
    
}
