/* Headeer */
.search {
    width: 100%;
    position: relative;
}

.searchIcon {
    position: absolute;
    left: 6%;
    top: 50%; 
    color: rgba(36, 82, 70, 0.1411764705882353);
    transform: translateY(-45%); 
}

.searchInput {
    width: calc(100% - 20px); 
    border: none;
    padding-left:9px;
    height: 30px;
    
  
    
}
.searchInput:focus {
   outline-color: rgba(36, 82, 70, 0.1411764705882353); ;
    
}

::placeholder {
    color:grey;
    padding-left: 10px;
    position: absolute;
    left: 4%;
    
}

