.ProfileNotification{
  background:transparent;
  border: none;
  border-color: none;
  padding: 0px;
  box-shadow: none;
  position: relative;
}


.ProfileNotification .dropdown-header span{
      text-transform: uppercase;
      border-radius: 10px;
      border: 2px solid red;
      padding: 2px;
      width: 36%;
      height:25px;
      color: red;
      background-color: lightRed;
      align-items: center;
      font-size: 12px;
      background-color: #ffcccb;
      margin-top: 10px;
 }

 .ProfileNotification .Titles{
 align-items: center;
line-height: 9px; 
 }
 .ProfileNotification .Titles p{ 
 margin:6px
  
 }
 .try {

  align-items: center;
 
 }
 .try p{
  margin: 6px;
 }

.ProfileNotification .dropdown-header strong{
  font-size: 22px;

}

.ProfileNotification .heading strong{
  font-size: 16px;
  padding: 0px;
  color: green;


}
.ProfileNotification .dropdown-header img{
  width: 42%;
  height:130px;
}
.thin-progress-bar  {
  height: 5px; /* Adjust the height as needed */
}

.ProfileNotification:hover{
  background-color: transparent;
  
}


.ProfileNotification .dropdown-toggle::after{
  display: none;
    
  }

.Notification-dropdown-icon{
  height: 25px;
  width: 25px;
  color: grey;
}
.Notification-Drop-down:active{
  background-color: transparent !important;
}
.Notification-Drop-down:focus{
  background-color: transparent !important;
} 
.ProfileNotification .dropdown-menu{
  width:380px;

}
.ProfileNotification img{
  width: 20%;
  border-radius: 100%;
  margin-right: 10px;
}
.ProfileNotification .ImgText{
  display: flex;
  align-content: center;
  align-content: center;
  width: 275px;
  
}
.ProfileNotification .IconText .iconify{

  background-color: lightcoral;
  border-radius: 50% ;
  padding: 8px;
  width: 100%;
  height: auto;
}


.ProfileNotification text {
  
  font-weight: 500;
  font-size: 15px;
}
.ProfileNotification span {
  color:grey;
  display: flex;
  flex-direction: column;
}
.ProfileNotification .dropdown-item:hover{
  background-color: #d3d3d3;
  color: grey;
}
.DropDownFooter{

  display: flex;
  justify-content:center;
  justify-content: space-around;
}
.DropDownFooter .btn{
  padding: 0;
  align-items: center;
  display: flex;
}

