
.left-navbar span{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 14px;
    color: grey;

  
   
}
.left-navbar .reg{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-transform: capitalize;
    color:white;
    

}
.left-navbar .nav-link{
     display: 'flex';
     align-Items: 'center';
     line-height: 60px;
     
    
}
.left-navbar .nav-link >span:hover{
    color: rebeccapurple;
   

}

.left-navbar .iconify  {
    color:grey ;
    width:23px;
    height:23px;
}
.space{
    white-space: nowrap; /* Prevent wrapping */
}


